* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: #0c0c0c;
  color: white;
}

/* INTRO */
#intro {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.names {
  font-size: 40px;
  font-weight: 300;
}

.date {
  opacity: 0.7;
  margin-top: 10px;
}

/* ================= CURVED SECTIONS ================= */

.curve-section {
  padding: 80px 20px;
  background: #141414;
  border-radius: 60px 60px 0 0;
  margin-top: -40px;
}

.curve-section.alt {
  background: #101010;
  border-radius: 0 0 60px 60px;
}

.card {
  max-width: 500px;
  margin: auto;
  text-align: center;

  background: rgba(255,255,255,0.04);
  padding: 30px;
  border-radius: 25px;

  border: 1px solid rgba(255,255,255,0.08);
}

/* DRESS GRID */
.dress-grid {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dress-box {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: rgba(255,255,255,0.1);
}

/* BUTTON */
button {
  margin-top: 15px;
  padding: 12px 20px;
  border-radius: 30px;

  border: none;
  background: white;
  color: black;

  cursor: pointer;
}
